<a href="https://colab.research.google.com/github/glennamaria/task1/blob/main/Loanprediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas.util.testing as tm

<ipython-input-9-7782687bcd67>:5: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [10]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [11]:
path="/content/drive/MyDrive/Modelling.csv"
df= pd.read_csv(path)
df

,ApplicationID,LoanID,LoanDate,LoanAmount,Name,DateOfBirth,Age,Gender,MaritalStatus,ExperienceInVertical,...,Loanamount,Tenure,InterestRate,Paymode,EMI,TotalIncome,NetIncome,CIBIL,OtherRunningLoan,ChequeBounce
0,55100102,433300000000000,23-Nov-20,1000000,VANITHA,15-Jun-79,45,FEMALE,MARRIED,5 to 10,...,1000000,84,24.0,Monthly,24676.0,60000,50000,-1,No Current Loans,No
1,55100110,431100000000000,02-Dec-20,300000,KANITHA PIRTHOUS,07-May-88,36,FEMALE,MARRIED,5 to 10,...,300000,60,24.0,Monthly,8630.0,51000,51000,-1,No Current Loans,No
2,55100112,433300000000000,14-Dec-20,350000,MOHANASUNDRAM,29-Mar-57,67,MALE,MARRIED,5 to 10,...,350000,60,24.0,Monthly,10069.0,35000,25000,-1,No Current Loans,No
3,55100120,433300000000000,18-Dec-20,300000,ELANJIYAM,05-Nov-64,60,FEMALE,OTHERS,Greater Than 10,...,300000,60,24.0,Monthly,8630.0,48000,47990,-1,No Current Loans,No
4,55100129,412300000000000,14-Jan-21,550000,SHAJAN,17-Apr-82,42,MALE,MARRIED,NaN,...,550000,60,24.0,Monthly,15822.0,35000,35000,-1,No Current Loans,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1032,55104954,433800000000000,19-Apr-24,370000,BIBEKA PRAGYA NAYAK,06-Mar-01,23,MALE,MARRIED,3 to 5,...,370000,72,24.0,Monthly,9741.0,80000,67200,-1,No Current Loans,No
1033,55104962,431400000000000,24-Apr-24,400000,THAMILSELVAN,06-Nov-03,21,MALE,MARRIED,3 to 5,...,400000,60,25.0,Monthly,11741.0,38000,25750,-1,No Current Loans,No
1034,55104971,433800000000000,23-Apr-24,500000,AJAYA KUMAR SAHOO,01-Jan-89,35,MALE,MARRIED,Greater Than 10,...,500000,60,22.5,Monthly,13953.0,86000,63000,646,No Current Loans,No
1035,55104996,433000000000000,27-Apr-24,600000,DHARMJIT BISWAL,05-Jun-96,28,MALE,UNMARRIED,5 to 10,...,600000,84,22.5,Monthly,14242.0,84000,64500,637,1 Loan,No
1036,55104998,433400000000000,26-Apr-24,500000,BHAGIRATH RAY,01-Jan-74,50,MALE,MARRIED,Greater Than 10,...,500000,60,24.0,Monthly,14385.0,40000,29200,-1,No Current Loans,No

In [12]:

df.shape

(1037, 27)

In [13]:

df.dtypes

ApplicationID                 int64
LoanID                        int64
LoanDate                     object
LoanAmount                    int64
Name                         object
DateOfBirth                  object
Age                           int64
Gender                       object
MaritalStatus                object
ExperienceInVertical         object
Occupation                   object
Employer                     object
HousingStatus                object
FamilyDependants              int64
PeriodOfStay                 object
EducationalQualification     object
PersonalFactorScore         float64
Loanamount                    int64
Tenure                        int64
InterestRate                float64
Paymode                      object
EMI                         float64
TotalIncome                   int64
NetIncome                     int64
CIBIL                         int64
OtherRunningLoan             object
ChequeBounce                 object
dtype: object

In [14]:

df.duplicated().sum()

6

In [15]:
df.isnull().sum()

ApplicationID                 0
LoanID                        0
LoanDate                      0
LoanAmount                    0
Name                          0
DateOfBirth                   0
Age                           0
Gender                        0
MaritalStatus                 0
ExperienceInVertical          4
Occupation                    1
Employer                      5
HousingStatus                 5
FamilyDependants              0
PeriodOfStay                  2
EducationalQualification    896
PersonalFactorScore           0
Loanamount                    0
Tenure                        0
InterestRate                  0
Paymode                       0
EMI                           0
TotalIncome                   0
NetIncome                     0
CIBIL                         0
OtherRunningLoan              4
ChequeBounce                  2
dtype: int64