<a href="https://colab.research.google.com/github/glennamaria/task1/blob/main/Untitled17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [121]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas.util.testing as tm

In [122]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [123]:
path="/content/drive/MyDrive/SPSS-KAP-1-_1_.csv"
df= pd.read_csv(path)
df

,Age in years,Gender,Socio economic status,Dietary diversity score,KAP Score,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,(upto 30 years),a) Male,Upper middle,High dietary diversity,40.0,NaN,NaN,NaN
1,(30-45years),a) Male,Lower middle,High dietary diversity,32.0,NaN,NaN,NaN
2,(above 45 years),a) Male,Lower middle,High dietary diversity,33.0,NaN,NaN,NaN
3,(30-45years),b) Female,Lower middle,High dietary diversity,30.0,NaN,NaN,NaN
4,(above 45 years),a) Male,Upper lower,High dietary diversity,29.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
198,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
201,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [124]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 203 entries, 0 to 202
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age in years             100 non-null    object
 1   Gender                   100 non-null    object
 2   Socio economic status    100 non-null    object
 3   Dietary diversity score  100 non-null    object
 4   KAP Score                100 non-null    float64
 5   Unnamed: 5               0 non-null      float64
 6   Unnamed: 6               0 non-null      float64
 7   Unnamed: 7               1 non-null      float64
dtypes: float64(4), object(4)
memory usage: 12.8+ KB

In [125]:
import pandas as pd
from scipy.stats import f_oneway



# Separate the values by group
group_a = df[df['Age in years'] == '(upto 30 years)']['KAP Score']
group_b = df[df['Age in years'] == '(30-45years)']['KAP Score']
group_c = df[df['Age in years'] == '(above 45 years)']['KAP Score']

# Perform the ANOVA test
f_value, p_value = f_oneway(group_a, group_b, group_c)
print("F-value:", f_value)
print("p-value:", p_value)
alpha = 0.05  # significance level

if p_value < alpha:
    print("Reject the null hypothesis")
else:
    print("Fail to reject the null hypothesis")

# You can also print the F-statistic and p-value
print("F-statistic:", f_value)
print("p-value:", p_value)

F-value: 0.691514379904144
p-value: 0.5032941232331487
Fail to reject the null hypothesis
F-statistic: 0.691514379904144
p-value: 0.5032941232331487

In [136]:
t_statistic, p_value = stats.ttest_ind(group_a, group_b)
alpha = 0.05  # significance level

if p_value < alpha:
    print("Reject the null hypothesis")
else:
    print("Fail to reject the null hypothesis")

# You can also print the t-statistic and p-value
print("t-statistic:", t_statistic)
print("p-value:", p_value)

Fail to reject the null hypothesis
t-statistic: -0.8436919231275145
p-value: 0.40198405553016936

In [137]:
# Fit linear regression model
model = sm.OLS(df['KAP Score'], sm.add_constant(pd.get_dummies(df['Age in years']))).fit()

# Get the regression coefficients and p-values
coefficients = model.params[1:]
p_values = model.pvalues[1:]

# Interpret the results
alpha = 0.05  # significance level

significant_categories = p_values[p_values < alpha].index

if len(significant_categories) > 0:
    print("Significant relationship with categories:", significant_categories)
else:
    print("No significant relationship with any category")

# You can also print the regression coefficients and p-values
print("Coefficients:")
print(coefficients)
print("p-values:")
print(p_values)

No significant relationship with any category
Coefficients:
(30-45years)        NaN
(above 45 years)    NaN
(above 45 years)    NaN
(upto 30 years)     NaN
dtype: float64
p-values:
(30-45years)        NaN
(above 45 years)    NaN
(above 45 years)    NaN
(upto 30 years)     NaN
dtype: float64

In [127]:
# Separate the values by group
group_d = df[df['Gender'] == 'a) Male']['KAP Score']
group_e = df[df['Gender'] == 'b) Female']['KAP Score']


# Perform the ANOVA test
f_value, p_value = f_oneway(group_d, group_e)
print("F-value:", f_value)
print("p-value:", p_value)
alpha = 0.05  # significance level

if p_value < alpha:
    print("Reject the null hypothesis")
else:
    print("Fail to reject the null hypothesis")

# You can also print the F-statistic and p-value
print("F-statistic:", f_value)
print("p-value:", p_value)

F-value: 0.29726472001956383
p-value: 0.5868410457184421
Fail to reject the null hypothesis
F-statistic: 0.29726472001956383
p-value: 0.5868410457184421

In [128]:
t_statistic, p_value = stats.ttest_ind(group_d,group_e )
alpha = 0.05  # significance level

if p_value < alpha:
    print("Reject the null hypothesis")
else:
    print("Fail to reject the null hypothesis")

# You can also print the t-statistic and p-value
print("t-statistic:", t_statistic)
print("p-value:", p_value)

Fail to reject the null hypothesis
t-statistic: -0.5452198822672961
p-value: 0.5868410457184441

In [138]:
# Fit linear regression model
model = sm.OLS(df['KAP Score'], sm.add_constant(pd.get_dummies(df['Gender']))).fit()

# Get the regression coefficients and p-values
coefficients = model.params[1:]
p_values = model.pvalues[1:]

# Interpret the results
alpha = 0.05  # significance level

significant_categories = p_values[p_values < alpha].index

if len(significant_categories) > 0:
    print("Significant relationship with categories:", significant_categories)
else:
    print("No significant relationship with any category")

# You can also print the regression coefficients and p-values
print("Coefficients:")
print(coefficients)
print("p-values:")
print(p_values)

No significant relationship with any category
Coefficients:
a) Male     NaN
b) Female   NaN
dtype: float64
p-values:
a) Male     NaN
b) Female   NaN
dtype: float64

In [129]:
# Separate the values by group
group_f = df[df['Socio economic status'] == 'Upper middle']['KAP Score']
group_g = df[df['Socio economic status'] == 'Lower middle']['KAP Score']
group_h = df[df['Socio economic status'] == 'Upper lower']['KAP Score']
group_i = df[df['Socio economic status'] == 'Lower']['KAP Score']
# Perform the ANOVA test
f_value, p_value = f_oneway(group_f, group_g, group_h,group_i)
print("F-value:", f_value)
print("p-value:", p_value)
alpha = 0.05  # significance level

if p_value < alpha:
    print("Reject the null hypothesis")
else:
    print("Fail to reject the null hypothesis")

# You can also print the F-statistic and p-value
print("F-statistic:", f_value)
print("p-value:", p_value)

F-value: 77.02366147903174
p-value: 1.8579283008746875e-25
Reject the null hypothesis
F-statistic: 77.02366147903174
p-value: 1.8579283008746875e-25

In [140]:
# Fit linear regression model
model = sm.OLS(df['KAP Score'], sm.add_constant(pd.get_dummies(df['Socio economic status']))).fit()

# Get the regression coefficients and p-values
coefficients = model.params[1:]
p_values = model.pvalues[1:]

# Interpret the results
alpha = 0.05  # significance level

significant_categories = p_values[p_values < alpha].index

if len(significant_categories) > 0:
    print("Significant relationship with categories:", significant_categories)
else:
    print("No significant relationship with any category")

# You can also print the regression coefficients and p-values
print("Coefficients:")
print(coefficients)
print("p-values:")
print(p_values)

No significant relationship with any category
Coefficients:
Lower          NaN
Lower middle   NaN
Upper lower    NaN
Upper middle   NaN
dtype: float64
p-values:
Lower          NaN
Lower middle   NaN
Upper lower    NaN
Upper middle   NaN
dtype: float64

In [134]:
t_statistic, p_value = stats.ttest_ind(group_f, group_g)
alpha = 0.05  # significance level

if p_value < alpha:
    print("Reject the null hypothesis")
else:
    print("Fail to reject the null hypothesis")

# You can also print the t-statistic and p-value
print("t-statistic:", t_statistic)
print("p-value:", p_value)

Reject the null hypothesis
t-statistic: 3.11770186074273
p-value: 0.004542872826205644

In [131]:
# Separate the values by group
group_j = df[df['Dietary diversity score'] == 'High dietary diversity']['KAP Score']
group_k = df[df['Dietary diversity score'] == 'Medium dietary diversity']['KAP Score']


# Perform the ANOVA test
f_value, p_value = f_oneway(group_j, group_k)
print("F-value:", f_value)
print("p-value:", p_value)
alpha = 0.05  # significance level

if p_value < alpha:
    print("Reject the null hypothesis")
else:
    print("Fail to reject the null hypothesis")

# You can also print the F-statistic and p-value
print("F-statistic:", f_value)
print("p-value:", p_value)

F-value: 85.93871483524113
p-value: 4.642300571641915e-15
Reject the null hypothesis
F-statistic: 85.93871483524113
p-value: 4.642300571641915e-15

In [132]:
t_statistic, p_value = stats.ttest_ind(group_j,group_k )
alpha = 0.05  # significance level

if p_value < alpha:
    print("Reject the null hypothesis")
else:
    print("Fail to reject the null hypothesis")

# You can also print the t-statistic and p-value
print("t-statistic:", t_statistic)
print("p-value:", p_value)

Reject the null hypothesis
t-statistic: 9.27031363197822
p-value: 4.6423005716417714e-15